@import "utils/variables";
@import "utils/normalize";
@import "utils/fonts";

// ## VENDORS
@import "vendors/normalize";

@import "pages/index";

// ## COMPONENTS
@import "components/w-btn";
@import "components/w-switch";
@import "components/w-forms";
@import "components/w-card";
@import "components/w-radio";
@import "components/w-modals";
@import "components/w-alert";
@import "components/w-accardion";
@import "components/w-breadcrumb";
@import "components/w-dropdawn";
@import "components/w-nav";
@import "components/w-pagination";
@import "components/w-propovers";
@import "components/w-progress";
@import "components/w-spinner";
@import "components/w-select";
@import "components/w-checkbox";
// ## ATOM
@import "atom/display";
@import "atom/margin";
@import "atom/padding";
@import "atom/size";
@import "atom/text";
@import "atom/other";

// ## LAYOUT
@import "layout/base";
@import "layout/scroll";
