// map section

.map {
	padding-bottom: calc(50px * var(--padding-scale));
	font-family: var(--ff-base);
	text-align: center;

	&__container {
		width: 100%;
		height: calc(400px * var(--padding-scale));
		border-radius: var(--b-radius);
		overflow: hidden;
	}

	&__title {
		font-family: var(--ff-title);
		font-size: 32px;
		font-weight: 600;
		text-transform: uppercase;
		padding-top: calc(20px * var(--padding-scale));
		letter-spacing: var(--letter-spacing);
		line-height: var(--line-height);
		color: var(--c-text-primary);
	}

	&__description {
		font-size: var(--font-size);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-body-secondary);
		max-width: 70ch;
		margin: calc(12px * var(--margin-scale)) auto 0;
	}
}

@media screen and (max-width: var(--bp-lg)) {
	.map__title {
		font-size: 28px;
	}
	.map__container {
		height: calc(350px * var(--padding-scale));
	}
}

@media screen and (max-width: var(--bp-md)) {
	.map__title {
		font-size: 24px;
	}
	.map__container {
		height: calc(300px * var(--padding-scale));
	}
	.map__description {
		font-size: calc(var(--font-size) * 0.9);
	}
}

@media screen and (max-width: var(--bp-sm)) {
	.map__title {
		font-size: 20px;
	}
	.map__container {
		height: calc(250px * var(--padding-scale));
	}
	.map__description {
		font-size: calc(var(--font-size) * 0.875);
	}
}
