// payment logos section

.payment-logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: calc(16px * var(--margin-scale));
	padding: calc(20px * var(--padding-scale)) 0;

	&__item {
		padding: calc(8px * var(--padding-scale));
		border: 1px solid var(--c-border);
		border-radius: var(--b-radius);
		background-color: var(--c-bg-item);
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-height: calc(2.5 * var(--icon-size));
			display: block;
		}
	}
}

@media screen and (max-width: var(--bp-md)) {
	.payment-logos {
		gap: calc(12px * var(--margin-scale));
	}
}

@media screen and (max-width: var(--bp-sm)) {
	.payment-logos {
		gap: calc(8px * var(--margin-scale));
	}
}
