<div class="video-embed">
	<video
		class="video-embed__video"
		controls
		{%
		if
		section.autoplay
		%}autoplay{%
		endif
		%}
		{%
		if
		section.loop
		%}loop{%
		endif
		%}
		{%
		if
		section.muted
		%}muted{%
		endif
		%}
		{%
		if
		section.poster
		%}poster="{{{section.poster}}}"
		{%
		endif
		%}
	>
		<source src="{{{section.video}}}" />
		Your browser does not support the video tag.
	</video>

	{% if section.title %}
	<div class="video-embed__title">{{{section.title}}}</div>
	{% endif %} {% if section.description %}
	<div class="video-embed__description">{{{section.description}}}</div>
	{% endif %}
</div>
