// og-preview section

.og-preview {
	display: flex;
	max-width: 500px;
	margin: 0 auto;
	font-family: var(--ff-base);
	background-color: var(--c-bg-item);
	border: 1px solid var(--c-border);
	border-radius: var(--b-radius);
	overflow: hidden;

	&__image {
		width: 40%;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: calc(12px * var(--padding-scale));
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		text-align: left;
	}

	&__url {
		font-size: calc(var(--font-size) * 0.75);
		color: var(--c-text-body-secondary);
		margin-bottom: calc(4px * var(--margin-scale));
	}

	&__title {
		font-family: var(--ff-title);
		font-size: calc(var(--font-size) * 1.1);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-primary);
	}

	&__description {
		margin-top: calc(8px * var(--margin-scale));
		font-size: calc(var(--font-size) * 0.9);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-secondary);
	}
}

@media screen and (max-width: var(--bp-md)) {
	.og-preview {
		flex-direction: column;
	}
	.og-preview__image {
		width: 100%;
	}
}
