<form class="survey">
	{% if section.title %}
	<div class="survey__title">{{{section.title}}}</div>
	{% endif %} {% if section.description %}
	<div class="survey__description">{{{section.description}}}</div>
	{% endif %} {% if section.questions %}
	<div class="survey__questions">
		{% for question in section.questions %}
		<div class="survey__question">
			{% if question.label %}
			<label class="survey__label" for="{{question.name}}"
				>{{{question.label}}}</label
			>
			{% endif %} {% if question.type == 'text' %}
			<input
				class="survey__input"
				type="text"
				id="{{question.name}}"
				name="{{question.name}}"
				placeholder="{{question.placeholder}}"
			/>
			{% endif %} {% if question.type == 'textarea' %}
			<textarea
				class="survey__textarea"
				id="{{question.name}}"
				name="{{question.name}}"
				placeholder="{{question.placeholder}}"
			></textarea>
			{% endif %} {% if question.type == 'select' %}
			<select
				class="survey__select"
				id="{{question.name}}"
				name="{{question.name}}"
			>
				{% for option in question.options %}
				<option value="{{option.value}}">{{{option.label}}}</option>
				{% endfor %}
			</select>
			{% endif %} {% if question.type == 'radio' %} {% for option in
			question.options %}
			<label class="survey__option">
				<input
					class="survey__radio"
					type="radio"
					name="{{question.name}}"
					value="{{option.value}}"
				/>
				<span>{{{option.label}}}</span>
			</label>
			{% endfor %} {% endif %} {% if question.type == 'checkbox' %} {% for
			option in question.options %}
			<label class="survey__option">
				<input
					class="survey__checkbox"
					type="checkbox"
					name="{{question.name}}"
					value="{{option.value}}"
				/>
				<span>{{{option.label}}}</span>
			</label>
			{% endfor %} {% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<button class="survey__submit" type="submit">
		{{{section.submitText || 'Submit'}}}
	</button>
</form>
