// mega menu section

.mega-menu {
	font-family: var(--ff-base);
	background-color: var(--c-body);

	&__list {
		display: flex;
		gap: calc(20px * var(--margin-scale));
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		position: relative;
	}

	&__toggle {
		display: block;
		padding: calc(10px * var(--padding-scale))
			calc(15px * var(--padding-scale));
		color: var(--c-text-primary);
		text-decoration: none;
		font-size: var(--font-size);
		line-height: var(--line-height);
	}

	&__content {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		background-color: var(--c-bg-item);
		box-shadow: 0 4px 8px var(--c-shadow);
		padding: calc(20px * var(--padding-scale));
	}

	&__item--open &__content {
		display: flex;
	}

	&__column {
		flex: 1;
		padding: 0 calc(15px * var(--padding-scale));
	}

	&__column-title {
		font-family: var(--ff-title);
		font-weight: 600;
		color: var(--c-text-primary);
		margin-bottom: calc(10px * var(--margin-scale));
	}

	&__links {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__link {
		display: block;
		padding: calc(4px * var(--padding-scale)) 0;
		color: var(--c-text-body-secondary);
		text-decoration: none;
		font-size: var(--font-size);
		transition: color var(--transition);

		&:hover {
			color: var(--c-primary-hover);
		}
	}
}

@media screen and (max-width: var(--bp-md)) {
	.mega-menu__list {
		flex-direction: column;
	}

	.mega-menu__item--open .mega-menu__content {
		position: static;
	}

	.mega-menu__content {
		box-shadow: none;
		padding: calc(10px * var(--padding-scale));
	}
}
