<nav class="mega-menu">
	<ul class="mega-menu__list">
		{% for item in section.items %}
		<li class="mega-menu__item">
			<a href="{{{item.url}}}" class="mega-menu__toggle"
				>{{{item.title}}}</a
			>
			{% if item.columns %}
			<div class="mega-menu__content">
				{% for col in item.columns %}
				<div class="mega-menu__column">
					{% if col.title %}
					<div class="mega-menu__column-title">{{{col.title}}}</div>
					{% endif %}
					<ul class="mega-menu__links">
						{% for link in col.links %}
						<li>
							<a href="{{{link.url}}}" class="mega-menu__link"
								>{{{link.title}}}</a
							>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav>
