// progress-bar section

.progress-bar {
	font-family: var(--ff-base);

	&__bar {
		width: 100%;
		height: 8px;
		background: var(--c-bg-item);
		border-radius: var(--b-radius);
		overflow: hidden;
	}

	&__progress {
		height: 100%;
		background: var(--c-primary);
		transition: width var(--transition);
	}

	&__label {
		margin-top: calc(8px * var(--margin-scale));
		font-size: calc(var(--font-size) * 0.875);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-primary);
		text-align: center;
	}
}

@media screen and (max-width: var(--bp-md)) {
	.progress-bar__label {
		font-size: calc(var(--font-size) * 0.75);
	}
}
