<div class="meta-preview">
	{% if section.image %}
	<div class="meta-preview__image">
		<img src="{{{section.image}}}" alt="" />
	</div>
	{% endif %}
	<div class="meta-preview__body">
		{% if section.title %}
		<div class="meta-preview__title">{{{section.title}}}</div>
		{% endif %} {% if section.url %}
		<div class="meta-preview__url">{{{section.url}}}</div>
		{% endif %} {% if section.description %}
		<div class="meta-preview__description">{{{section.description}}}</div>
		{% endif %}
	</div>
</div>
