<footer class="footer">
	<p class="footer__text">
		<span class="footer__text-part"
			>Wjst is copyright ©2024 Web Art Work</span
		>
		<span class="footer__text-part">
			Licensed for use under the permissive MIT Open Source License.</span
		>
		<span class="footer__text-part"> Architected by Honchar Denys</span>
	</p>
	<div class="footer-wrap">
		<div class="footer__item-link">
			<div class="footer__link-title">Title for links</div>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
		</div>
		<div class="footer__item-link footer__item-link--center">
			<div class="footer__link-title">Title for links</div>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
		</div>
		<div class="footer__item-link footer__item-link--end">
			<div class="footer__link-title">Title for links</div>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
			<a href="" class="footer__link"> - Link here </a>
		</div>
	</div>
</footer>
