// container section

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(20px * var(--padding-scale));
	padding-right: calc(20px * var(--padding-scale));
}

.container--sm {
	max-width: var(--bp-sm);
}

.container--md {
	max-width: var(--bp-md);
}

.container--lg {
	max-width: var(--bp-lg);
}

.container--fluid {
	max-width: 100%;
}
