<div class="audio-player">
	<audio
		class="audio-player__audio"
		controls
		{%
		if
		section.autoplay
		%}autoplay{%
		endif
		%}
		{%
		if
		section.loop
		%}loop{%
		endif
		%}
	>
		<source src="{{{section.audio}}}" />
		Your browser does not support the audio element.
	</audio>

	{% if section.title %}
	<div class="audio-player__title">{{{section.title}}}</div>
	{% endif %} {% if section.description %}
	<div class="audio-player__description">{{{section.description}}}</div>
	{% endif %}
</div>
