<div class="instructor">
	<div class="instructor__img">
		<img src="{{{section.img}}}" alt="{{{section.name}}}" />
	</div>

	{% if section.name %}
	<div class="instructor__name">{{{section.name}}}</div>
	{% endif %} {% if section.role %}
	<div class="instructor__role">{{{section.role}}}</div>
	{% endif %} {% if section.bio %}
	<div class="instructor__bio">{{{section.bio}}}</div>
	{% endif %} {% if section.socials %}
	<div class="instructor__socials">
		{% for social in section.socials %}
		<a href="{{{social.href}}}">
			<img src="{{{social.img}}}" alt="{{{social.name}}}" />
		</a>
		{% endfor %}
	</div>
	{% endif %}
</div>
