// Colors

$blue: #007eff;
$dark: #1c1c1c;
$white: #ffffff;
$blue-gray: #868401;
$blue-gray-darken: #6d6b07;
$yellow: #e0dc10;
$yellow-darken: #d6d310;
$green: #928907;
$green-darken: #16a085;


.index {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--c-primary);
	color: $white;
	padding: 10px;

	&-title {
		font-size: 36px;
		margin: 20px 0;
		font-weight: bold;
		text-align: center;
	}

	&-avatar {
		width: 100px;
		height: 100px;
	}

	&-readme {
		width: 80%;

		&__title {
			font-size: 26px;
			margin: 20px 0;
			font-weight: bold;
		}

		&__item {
			position: relative;
			margin: 10px 0;
			font-size: 18px;
			// color: $dark;
			background: $dark;
			padding: 10px;
			padding-left: 30px;
			border-radius: 5px;

			// &::after {
			// 	content: "";
			// 	display: block;
			// 	position: absolute;
			// 	left: -1px;
			// 	width: 0;
			// 	height: 0;
			// 	border-style: solid;
			// 	border-width: 20px 0 20px 20px;
			// 	border-color: transparent transparent transparent $dark;
			// 	top: 50%;
			// 	transform: translateY(-50%);
			// }
		}

		&__code {
			font-style: italic;
			color: $blue;
		}

		&__link {
			text-decoration: underline;
			color: $blue;

			&:hover {
				color: var(--c-primary-hover);
				text-decoration: underline;
			}
		}
	}

	ul.block {
		list-style-type: disc;
		padding-left: 20px;
	}

	.table {
		&__h {

			th,
			td {
				border-bottom: 1px solid var(--c-text-primary);
				padding: 0.75rem;
				text-align: left;
			}

			width: 100%;
			border-collapse: collapse;
		}
	}

	.h1 {
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.h2 {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.h3 {
		font-size: 1.75rem;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.h4 {
		font-size: 1.5rem;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.h5 {
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}

	.h6 {
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 0.5rem;

		.template-red-text {
			color: red;
		}
	}
}