// gallery
.gallery {
	padding-bottom: 50px;
	&__title {
		font-size: 38px;
		font-weight: 700;
		padding-bottom: 30px;
		line-height: 1.2;
	}
	&-wrapper {
		display: flex;
		flex-flow: row wrap;
		background-color: var(--c-alert);
		border-radius: 32px;
		padding: 40px;
		justify-content: center;
	}
	&__item {
		flex: 0 0 25%;
		max-width: 25%;
		padding: 0 42px;
		margin-bottom: 30px;
	}
	&__img {
		img {
			width: 100%;
		}
	}
}
@media screen and (max-width: 1199px) {
	.gallery__item {
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding: 0 30px;
	}
}
@media screen and (max-width: 991px) {
	.gallery-wrapper {
		padding: 28px;
	}
	.gallery__title {
		font-size: 26px;
	}
}
@media screen and (max-width: 767px) {
	.gallery__item {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 20px;
	}
}
@media screen and (max-width: 767px) {
}
