// text-block section

.text-block {
	padding-bottom: calc(20px * var(--padding-scale));
	text-align: center;
	font-family: var(--ff-base);

	&__title {
		font-family: var(--ff-title);
		font-size: 32px;
		font-weight: 600;
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-primary);
		margin-bottom: calc(12px * var(--margin-scale));
	}

	&__description {
		font-size: var(--font-size);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-body-secondary);
		max-width: 70ch;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: var(--bp-lg)) {
	.text-block__title {
		font-size: 28px;
	}
	.text-block__description {
		font-size: calc(var(--font-size) * 0.95);
	}
}

@media screen and (max-width: var(--bp-md)) {
	.text-block__title {
		font-size: 24px;
	}
	.text-block__description {
		font-size: calc(var(--font-size) * 0.9);
	}
}

@media screen and (max-width: var(--bp-sm)) {
	.text-block__title {
		font-size: 20px;
	}
	.text-block__description {
		font-size: calc(var(--font-size) * 0.875);
	}
}
