<div class="feature-list">
	{% if section.title %}
	<div class="feature-list__title">{{{section.title}}}</div>
	{% endif %} {% if section.description %}
	<div class="feature-list__description">{{{section.description}}}</div>
	{% endif %} {% if section.items %}
	<ul class="feature-list__items">
		{% for item in section.items %}
		<li class="feature-list__item">
			{% if item.icon %}
			<img src="{{{item.icon}}}" alt="" class="feature-list__icon" />
			{% endif %}
			<div class="feature-list__content">
				{% if item.title %}
				<div class="feature-list__item-title">{{{item.title}}}</div>
				{% endif %} {% if item.text %}
				<div class="feature-list__item-text">{{{item.text}}}</div>
				{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
