// scroll-area section

.scroll-area {
	&__viewport {
		max-height: var(
			--scroll-area-height,
			calc(200px * var(--padding-scale))
		);
		overflow-y: auto;
		padding: calc(16px * var(--padding-scale));
		border: 1px solid var(--c-border);
		border-radius: var(--b-radius);
		background-color: var(--c-bg-item);
		font-family: var(--ff-base);
		font-size: var(--font-size);
		line-height: var(--line-height);
		color: var(--c-text-primary);
		scrollbar-color: var(--c-primary) var(--c-bg-item);
		scrollbar-width: thin;
	}

	&__viewport::-webkit-scrollbar {
		width: calc(8px * var(--padding-scale));
	}

	&__viewport::-webkit-scrollbar-track {
		background: var(--c-bg-item);
	}

	&__viewport::-webkit-scrollbar-thumb {
		background: var(--c-primary);
		border-radius: var(--b-radius);
	}
}
