<div class="accordion">
	{% for item in section.items %}
	<div class="accordion-item">
		<button class="accordion-button{% if item.active %} active{% endif %}">
			<div class="accordion-button__text">{{{item.title}}}</div>
			<div class="accordion-button__arrow">
				<svg
					width="36"
					height="36"
					viewBox="0 0 24 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M6 9L12 15L18 9"
						stroke="white"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
			</div>
		</button>
		<div
			class="accordion-content"
			{%
			if
			item.active
			%}
			style="max-height: fit-content"
			{%
			endif
			%}
		>
			{{{item.content}}}
		</div>
	</div>
	{% endfor %}
</div>
