// alert section

.alert {
	position: relative;
	padding: calc(16px * var(--padding-scale)) calc(20px * var(--padding-scale));
	margin: calc(16px * var(--margin-scale)) 0;
	border: 1px solid var(--c-border);
	border-radius: var(--b-radius);
	background-color: var(--c-bg-item);
	color: var(--c-text-primary);
	font-family: var(--ff-base);
	line-height: var(--line-height);

	&__title {
		font-family: var(--ff-title);
		font-weight: 600;
		margin-bottom: calc(8px * var(--margin-scale));
	}

	&__close {
		position: absolute;
		top: calc(8px * var(--padding-scale));
		right: calc(8px * var(--padding-scale));
		background: none;
		border: none;
		color: inherit;
		font-size: calc(var(--font-size) * 1.25);
		cursor: pointer;
	}

	&--success {
		border-color: var(--c-success-border);
		background-color: var(--c-success);
	}

	&--danger {
		border-color: var(--c-danger-border);
		background-color: var(--c-error);
	}

	&--warning {
		border-color: var(--c-warning-border);
		background-color: var(--c-alert);
	}

	&--info {
		border-color: var(--c-info-border);
		background-color: var(--c-blue);
	}
}
