.alert{
    &-wrap{
        display: flex;
        flex-flow: row wrap;
        padding: 8px;
        border-radius: var(--b-radius);
        margin-bottom: 10px;
        position: relative;
        &-img{
            margin-right: 15px;
            display: flex;
            svg{
                width: 40px;
                height: 40px;
            }
        }
        &-text{
            &__title{
                font-size: 18px;
                font-weight: 600;
            }
            &__description{
                font-size: 16px;
            }
        }
        &-close{
            position: absolute;
            width: 20px;
            height: 20px;
            right: 16px;
            transition: all .3s;
            cursor: pointer;
            &:hover{
                transform: scale(0.8);
            }
            svg{
                width: 100%;    
                height: 100%;
            }
        }
    }
    &-info{
        background: var(--c-primary-hover);
        color: var(--c-primary);
    }
    &-error{
        background: var(--c-error);
        svg{
            path{
                fill: var(--c-text-primary);
            }
        }
    }
    &-success{
        background: var(--c-success);
    }
}