// quote section

.quote {
	padding: calc(40px * var(--padding-scale)) calc(20px * var(--padding-scale));
	text-align: center;
	font-family: var(--ff-base);

	&__img {
		width: 80px;
		height: 80px;
		margin: 0 auto calc(20px * var(--margin-scale));
		border-radius: var(--b-radius);
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&__text {
		font-size: calc(var(--font-size) * 1.125);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		color: var(--c-text-primary);
		margin-bottom: calc(12px * var(--margin-scale));
		font-style: italic;
		quotes: "\201C""\201D";

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	&__author {
		font-family: var(--ff-title);
		color: var(--c-text-body-secondary);
	}
}

@media screen and (max-width: var(--bp-md)) {
	.quote__text {
		font-size: var(--font-size);
	}
}

@media screen and (max-width: var(--bp-sm)) {
	.quote__text {
		font-size: calc(var(--font-size) * 0.9);
	}
}
